* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    padding: 2%;
    background: url("bg4.svg");
    background-size: cover;
}

#finalizar {
    padding: 10px;
    color: white;
    background-color: #001e40;
    border: 1px solid #001e40;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.5));
    transition: all 0.2s;
    cursor: pointer;
}

#finalizar:hover {
    background-color: #6a658d9a;
    border: 1px solid white;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

#finalizar-todos {
    display: none;
}

.main {
    display: flex;
    color: white;
    gap: 20px;

}

.cuestionario {
    width: 85vw;
    background-color: #6a658d9a;
    border-radius: 20px;
    padding: 1%;
    filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.5));
}

.listado {
    width: 15vw;
    background-color: #6a658d9a;
    border-radius: 20px;
    padding: 1%;
    filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.5));
}

.preguntas-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0;
}

.enunciado {
    font-size: 19px;
}

.respuestas {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#puntaje-final{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px 0;
    font-size: 24px;
}

/* COMMON RADIO AND CHECKBOX STYLES  */
input[type=radio],
input[type=checkbox] {
    /* Hide original inputs */
    visibility: hidden;
    position: absolute;
}

input[type=radio]+label:before,
input[type=checkbox]+label:before {
    height: 14px;
    width: 14px;
    margin-right: 2px;
    content: " ";
    display: inline-block;
    vertical-align: baseline;
    border: 1px solid #ffffff;
}

input[type=radio]:checked+label:before,
input[type=checkbox]:checked+label:before {
    background: gold;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
input[type=radio]+label:before {
    border-radius: 50%;
}

input[type=checkbox]+label:before {
    border-radius: 2px;
}

label{
    color: rgba(255, 255, 255, 0.644);
}

img{
    border-radius: 10px;
    margin: 10px 0;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}