<div class="main">
  <div class="cuestionario">

    <h1> Pr치ctica Sistemas de Gesti칩n </h1>
    <h2> Tema: Transporte, Transbordo y Asignaci칩n </h2>
    <h3 id="bienvenida"> </h3>

    <p style="margin: 20px 0;"> Aca van todas las preguntas...</p>

    <div style="display: flex; gap: 20px; align-items: center;">
      <button id="finalizar">
        Finalizar
      </button>
      <p id="puntaje-final"></p>
    </div>

  </div>

  <div class="listado">
    <h3> Participantes </h3>
    <ul id="participantes">

    </ul>

  </div>

  <button id="finalizar-todos">
    Finalizar pr치ctica
  </button>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>