<div class="main">
  <div class="cuestionario">

    <h1> Práctica Sistemas de Gestión </h1>
    <h2> Tema: Transporte, Transbordo y Asignación </h2>
    <h3 id="bienvenida"> </h3>

    <div class="preguntas-container">

      <div class="pregunta">
        <p class="enunciado">
          1. ¿Cuál es el objetivo de los modelos para problemas de transporte,
          transbordo y asignación de recursos?
        </p>
        <div class="respuestas">

          <div>
            <input type="radio" name="p1" value="1" id="p1-1" />
            <label for="p1-1"> Equilibrar los recursos </label>
          </div>
          <div>
            <input type="radio" name="p1" value="2" id="p1-2" />
            <label for="p1-2"> Maximizar la utilización de los recursos </label>
          </div>
          <div>
            <input type="radio" name="p1" value="3" id="p1-3" />
            <label for="p1-3"> Minimizar los costos </label>
          </div>

        </div>
      </div>

      <div class="pregunta">
        <p class="enunciado">
          2. El siguiente modelo matemático corresponde al problema de ...
        </p>
        <img src="https://i.imgur.com/CcYFNoE.jpg" alt="" />
        <div class="respuestas">

          <div>
            <input type="radio" name="p2" value="1" id="p2-1" />
            <label for="p2-1"> Transporte </label>
          </div>
          <div>
            <input type="radio" name="p2" value="2" id="p2-2" />
            <label for="p2-2"> Transbordo </label>
          </div>
          <div>
            <input type="radio" name="p2" value="3" id="p2-3" />
            <label for="p2-3"> Asignación </label>
          </div>

        </div>
      </div>

      <div class="pregunta">
        <p class="enunciado">
          3. En un problema de transporte, si yo tengo 100 orígenes y 50
          destinos. Para resolverlo, ¿cuantás variables tendrá el problema?
        </p>
        <div class="respuestas">

          <div>
            <input type="number" id="p3" />
          </div>

        </div>
      </div>

      <div class="pregunta">
        <p class="enunciado">
          4. ¿Qué buscan los problemas de transbordo?
        </p>
        <div class="respuestas">

          <div>
            <input type="radio" name="p4" value="1" id="p4-1" />
            <label for="p4-1">
              Determinar la asignación óptima de múltiples recursos a múltiples
              destinos
            </label>
          </div>
          <div>
            <input type="radio" name="p4" value="2" id="p4-2" />
            <label for="p4-2">
              Minimizar la distancia de la ruta al por nodos de transbordo
            </label>
          </div>
          <div>
            <input type="radio" name="p4" value="3" id="p4-3" />
            <label for="p4-3">
              Lo mismo que el de transporte pero teniendo en cuenta nodos
              intermedios
            </label>
          </div>

        </div>
      </div>

      <div class="pregunta">
        <p class="enunciado">
          5. El siguiente modelo matemático corresponde al problema de ...
        </p>
        <img src="https://i.imgur.com/CfKNzuc.jpg" alt="" />
        <div class="respuestas">

          <div>
            <input type="radio" name="p5" value="1" id="p5-1" />
            <label for="p5-1"> Transporte </label>
          </div>
          <div>
            <input type="radio" name="p5" value="2" id="p5-2" />
            <label for="p5-2"> Transbordo </label>
          </div>
          <div>
            <input type="radio" name="p5" value="3" id="p5-3" />
            <label for="p5-3"> Asignación </label>
          </div>

        </div>
      </div>


      <div class="pregunta">
        <p class="enunciado">
          6. ¿Cuáles son los elementos principales de un modelo matemático para
          problemas de transporte?
        </p>
        <div class="respuestas">

          <div>
            <input type="radio" name="p6" value="1" id="p6-1" />
            <label for="p6-1"> Oferta, demanda y costo de transporte </label>
          </div>
          <div>
            <input type="radio" name="p6" value="2" id="p6-2" />
            <label for="p6-2"> Oferta, demanda y costo de asignación </label>
          </div>
          <div>
            <input type="radio" name="p6" value="3" id="p6-3" />
            <label for="p6-3"> Origenes, destinos y costo de transporte </label>
          </div>

        </div>
      </div>

      <div class="pregunta">
        <p class="enunciado">
          7. En un problema de asignación, es imposible realizar asignaciones
          múltiples.
        </p>
        <div class="respuestas">

          <div>
            <input type="radio" name="p7" value="1" id="p7-1" />
            <label for="p7-1"> Verdadero </label>
          </div>
          <div>
            <input type="radio" name="p7" value="2" id="p7-2" />
            <label for="p7-2"> Falso </label>
          </div>

        </div>
      </div>

      <div class="pregunta">
        <p class="enunciado">
          8. ¿Cuáles son los elementos principales de un modelo matemático para
          problemas de asignación de recursos?
        </p>
        <div class="respuestas">

          <div>
            <input type="radio" name="p8" value="1" id="p8-1" />
            <label for="p8-1"> Origenes, destinos y costo de asignación </label>
          </div>
          <div>
            <input type="radio" name="p8" value="2" id="p8-2" />
            <label for="p8-2"> Individuos, tareas y costo de asignación </label>
          </div>
          <div>
            <input type="radio" name="p8" value="3" id="p8-3" />
            <label for="p8-3"> Demanda, oferta y costo de asignación </label>
          </div>

        </div>
      </div>

      
      <div class="pregunta">
        <p class="enunciado">
          9. El siguiente modelo matemático corresponde al problema de ...
        </p>
        <img src="https://i.imgur.com/0SN4urE.jpg" alt="" />
        <div class="respuestas">

          <div>
            <input type="radio" name="p9" value="1" id="p9-1" />
            <label for="p9-1"> Transporte </label>
          </div>
          <div>
            <input type="radio" name="p9" value="2" id="p9-2" />
            <label for="p9-2"> Transbordo </label>
          </div>
          <div>
            <input type="radio" name="p9" value="3" id="p9-3" />
            <label for="p9-3"> Asignación </label>
          </div>

        </div>
      </div>

      <div class="pregunta">
        <p class="enunciado">
          10. ¿Qué se busca en los problemas de transporte?
        </p>
        <div class="respuestas">

          <div>
            <input type="radio" name="p10" value="1" id="p10-1" />
            <label for="p10-1">
              Minimizar el costo total de transportar desde los orígenes hacia
              los destinos
            </label>
          </div>
          <div>
            <input type="radio" name="p10" value="2" id="p10-2" />
            <label for="p10-2">
              Minimizar la cantidad de destinos para que haya menos demanda
            </label>
          </div>
          <div>
            <input type="radio" name="p10" value="3" id="p10-3" />
            <label for="p10-3"> Equilibrar la asignación de recursos </label>
          </div>

        </div>
      </div>

    </div>

    <div style="display: flex; gap: 20px; align-items: center;">
      <button id="finalizar">
        Finalizar
      </button>
      <p id="puntaje-final"></p>
    </div>

  </div>

  <div class="listado">
    <h3> Participantes </h3>
    <ul id="participantes">

    </ul>

  </div>

  <button id="finalizar-todos">
    Finalizar práctica
  </button>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>