<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      property="og:title"
      content="Pr치ctica SGO 5K2"
    />
    <meta
      property="og:description"
      content="Pr치ctica para el curso 5K2 sobre el tema de Transporte, Transbordo y Asignaci칩n"
    />
    <meta
      property="og:image"
      content="https://i.imgur.com/yVdv0MA.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title> Pr치ctica SGO </title>
  </head>

  <body>
    {{{body}}}
  </body>

</html>